<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="jsx is jobscale of jsx.jp">
  <meta name="keywords" content="jsx, kubernetes, docker, HTML, CSS, JavaScript">
  <meta name="author" content="jobscale <jobscale@users.noreply.github.com>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="dark" name="color-scheme">
  <meta name="theme-color" content="black">
    <title><%= blog.title %></title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui-css@2.4.1/semantic.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="//code.jquery.com/jquery-3.6.0.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  </head>
  <body>
  <%- include('components/nav') %>
  <%- include('components/nav-setting') %>
  <%- include('components/notification') %>